In [1]:
!python -m pip install pandas

Requirement already satisfied: pandas in c:\users\yugen\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\yugen\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yugen\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yugen\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yugen\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\yugen\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import os
os.getcwd()

'C:\\Users\\yugen'

In [9]:
os.listdir()

['.anaconda',
 '.android',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.cursor',
 '.docker',
 '.gitconfig',
 '.gradio',
 '.gradle',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.kaggle',
 '.keras',
 '.lesshst',
 '.matplotlib',
 '.ssh',
 '.streamlit',
 '.th-client',
 '.traycer',
 '.vscode',
 'anaconda3',
 'anaconda_projects',
 'AndroidStudioProjects',
 'AppData',
 'Application Data',
 'cache',
 'codecrafters-git-javascript',
 'Contacts',
 'Cookies',
 'customer_shopping_behavior.csv',
 'Documents',
 'Downloads',
 'edb_pgagent_pg17.exe',
 'edb_pgbouncer.exe',
 'edb_psqlodbc.exe',
 'Favorites',
 'first-react-app',
 'HomeToHomeBasic$Point.class',
 'HomeToHomeBasic.class',
 'HomeToHomeBasic.java',
 'index.html',
 'Links',
 'Local Settings',
 'Main.java',
 'Microsoft',
 'Music',
 'My Documents',
 'my_env',
 'NetHood',
 'node_modules',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{9df2a60c-11a5-11f0-967a-97d44baec999}.TM.blf',
 'NTUSER.DAT{9df2a60c-11a5-11f0-967a-97d44baec999}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{9df2a60c-11a5-11f0-967a-97d44baec999}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'package-lock.json',
 'package.json',
 'postgresql_13.exe',
 'Postman Agent',
 'PrintHood',
 'project.ipynb',
 'python',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'shubha.py',
 'Start Menu',
 'Templates',
 'test_dir',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos']

In [19]:
import pandas as pd
df =pd.read_csv('customer_shopping_behavior.csv')

In [21]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [29]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [31]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [33]:
df['Review Rating']= df.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median()))

In [35]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [41]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [43]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [45]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [47]:
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [49]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [51]:
##create age group column

labels = ['Young Adult','Adult','Middle Age','Senior']
df['age_group']= pd.qcut(df['age'], q=4, labels=labels)

In [53]:
df[['age','age_group']].head(10)

   age    age_group
0   55   Middle Age
1   19  Young Adult
2   50   Middle Age
3   21  Young Adult
4   45   Middle Age
5   46   Middle Age
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57   Middle Age

In [57]:
frequency_mapping={
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months':90
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [59]:
(df['discount_applied']== df['promo_code_used']).all()

np.True_

In [61]:
df= df.drop('promo_code_used',axis=1)

In [63]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [65]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp310-cp310-win_amd64.whl (2.7 MB)
     ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
      --------------------------------------- 0.1/2.7 MB 1.3 MB/s eta 0:00:03
     --- ------------------------------------ 0.2/2.7 MB 2.4 MB/s eta 0:00:02
     ------- -------------------------------- 0.5/2.7 MB 4.0 MB/s eta 0:00:01
     ----------- ---------------------------- 0.8/2.7 MB 4.3 MB/s eta 0:00:01
     --------------- ------------------------ 1.0/2.7 MB 4.4 MB/s eta 0:00:01
     ------------------ --------------------- 1.3/2.7 MB 4.5 MB/s eta 0:00:01
     ---------------------- ----------------- 1.5/2.7 MB 4.6 MB/s eta 0:00:01
     -------------------------- ------------- 1.8/2.7 MB 4.7 MB/s eta 0:00:01
     ----------------------------- ---------- 2.0/2.7 MB 4.7 MB/s eta 0:00:01
     -------------------------------- ------- 2.2/2.7 MB 4.7 MB/s eta 0:00:01
     ------------------------------------ --- 2.5/2.7 MB 4.8 MB/s eta 0:00:01
     ---------------------------------------  2.7/2.7 MB 4.8 MB/s eta 0:00:01
     ---------------------------------------- 2.7/2.7 MB 4.7 MB/s eta 0:00:00
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.46-cp310-cp310-win_amd64.whl (2.1 MB)
     ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
     ----- ---------------------------------- 0.3/2.1 MB 9.6 MB/s eta 0:00:01
     ---------- ----------------------------- 0.6/2.1 MB 5.8 MB/s eta 0:00:01
     -------------- ------------------------- 0.8/2.1 MB 5.6 MB/s eta 0:00:01
     ------------------- -------------------- 1.0/2.1 MB 5.9 MB/s eta 0:00:01
     ----------------------- ---------------- 1.3/2.1 MB 5.4 MB/s eta 0:00:01
     ---------------------------- ----------- 1.5/2.1 MB 5.4 MB/s eta 0:00:01
     -------------------------------- ------- 1.8/2.1 MB 5.3 MB/s eta 0:00:01
     ------------------------------------- -- 2.0/2.1 MB 5.3 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 5.4 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 5.0 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\yugen\onedrive\desktop\jupyter project\tf_env\lib\site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet>=1
  Downloading greenlet-3.3.1-cp310-cp310-win_amd64.whl (226 kB)
     ---------------------------------------- 0.0/226.1 kB ? eta -:--:--
     -------------------------------------  225.3/226.1 kB 6.9 MB/s eta 0:00:01
     -------------------------------------- 226.1/226.1 kB 4.6 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.3.1 psycopg2-binary-2.9.11 sqlalchemy-2.0.46
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 26.0.1
[notice] To update, run: C:\Users\yugen\OneDrive\Desktop\jupyter project\tf_env\Scripts\python.exe -m pip install --upgrade pip

In [73]:
from sqlalchemy import create_engine


username= 'postgres'
password = 'Pragati'
host= 'localhost'
port = '5432'
database= 'Customer_behaviour'

engine= create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

table_name= "customer"
df.to_sql(table_name, engine , if_exists='replace', index=False)

print("done succesfully")

done succesfully